<div class='<%= "carousel-item #{carousel_item_class}" %>'>
  <div class="container">
    <div class="carousel-caption text-start">
      <h1><%= header %> </h1>
      <p><%= copy %></p>
      <p><a class="btn btn-lg btn-primary" href="#"><%= cta %></a></p>
    </div>
  </div>
</div>
