<div class="col-lg-8 mx-auto p-3 py-md-5" id="featured-3">
  <div class="row">
    <div class="col-md-8">
      <h1 class="text-dark">How it works</h1>
      <p class="lead">Inspire growth and change how your organisation conduct performance reviews.</p>
      <p>Our human-centred approach ensures that our solution has members of an organisation in mind when it comes
        to providing a better way to conduct performance reviews, follow up, measuring progress against goals and support.</p>
    </div>
    <div class="col-md-4">
      <%= image_tag "product_iphone_bybb.jpg", size: '190x310' %>
    </div>
  </div>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <div class="feature-icon bg-primary bg-gradient">
      </div>
      <h2 class="text-dark">Review</h2>
      <p>Kick off review cycles by adding up to ten questions to request annual, probation-period or any other type of reviews.</p>
    </div>
    <div class="feature col">
      <div class="feature-icon bg-primary bg-gradient">
      </div>
      <h2 class="text-dark">Check in</h2>
      <p>Foster transparent communication between line managers and their direct reports with weekly private reports.</p>
    </div>
    <div class="feature col">
      <div class="feature-icon bg-primary bg-gradient">
      </div>
      <h2 class="text-dark">Engage</h2>
      <p>Celebrate your teammates or other colleagues in the organisation giving them kudos on the company's feed.</p>
    </div>
  </div>
  <div class="mt-5">
    Contact us today on +44 11111 1111
  </div>
</div>
</div>
