<div id="<%= dom_id organisation %>">
  <p>
    <strong>Title:</strong>
    <%= organisation.title %>
  </p>

  <p>
    <strong>Short description:</strong>
    <%= organisation.short_description %>
  </p>

</div>
