<div class="container py-3">
  <div class="mt-5">
    <h1>Manage Organisations</h1>
    <%= render @organisation %>
    <div>
      <%= link_to "Edit this organisation", edit_organisation_path(@organisation), class: 'btn btn-primary' %> |
      <%= link_to "Back to organisations", organisations_path, class: 'btn btn-primary' %>
      <div class="mt-5">
        <%= button_to "Destroy this organisation", @organisation, method: :delete, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
