<div class="container py-3">
  <div class="mt-5">
    <h1 class="text-center">Add a new post to your company's feed</h1>
    <p class="lead text-center mt-3">Give kudos to your colleagues and celebrate together. &#x1F44B;</p>
    <%= render "form", post: @post %>
    <br>
    <div>
      <%= link_to "Back to company feed", feed_path(current_user.organisation.feed.id) %>
    </div>
  </div>
</div>
