<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> You have been invited to submit a review for <%= @reviews_cycle.name %>! </h1>
    <p>
      <%= link_to 'Visit your dashboard', root_url %>
    </p>
  </body>
</html>
