<div id="<%= dom_id reviews_cycle %>">
  <p>
    <strong>Name:</strong>
    <%= reviews_cycle.name %>
  </p>

  <p>
    <strong>Organisation:</strong>
    <%= reviews_cycle.organisation_id %>
  </p>

</div>
