<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
  <h1 class="mt-5">Create a new reviews cycle</h1>
  <%= render "form", reviews_cycle: @reviews_cycle %>
  <br>
  <div>
    <%= link_to "Back to reviews cycles", reviews_cycles_path %>
  </div>
</div>
</div>
