<div class="container py-3">
  <div class="mt-5">
    <h1>Reviews cycle</h1>
    <%= link_to "Back to reviews cycles", reviews_cycles_path, class: 'btn btn-success mt-3 mb-3' %>
    <%= link_to "Edit reviews cycle", edit_reviews_cycle_path(@reviews_cycle), class: 'btn btn-success mt-3 mb-3' %>
    <%= render @reviews_cycle %>
  </div>
</div>
