<div id="<%= dom_id review %>">
  <p>
    <strong>Question 1:</strong>
    <%= review.question_1 %>
  </p>

  <p>
    <strong>Answer 1:</strong>
    <%= review.answer_1 %>
  </p>

  <p>
    <strong>Review cycle:</strong>
    <%= review.review_cycle_id %>
  </p>

</div>
