<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
  <div class="form">
    <h1 class="mt-5">Create a review for this review cycle</h1>
    <%= render "form", review: @review %>
    <br>
    <div>
      <%= link_to "Back to reviews", reviews_path %>
    </div>
  </div>
</div>
