<div id="<%= dom_id report %>">
  <p>
    <strong>Weekly priority:</strong>
    <%= report.weekly_priority %>
  </p>

  <p>
    <strong>Biggest challenge:</strong>
    <%= report.biggest_challenge %>
  </p>

  <p>
    <strong>Additional:</strong>
    <%= report.additional %>
  </p>

</div>
