<h1>Reports</h1>
<div id="reports">
  <% @reports.each do |report| %>
    <%= render report %>
    <p>
      <%= link_to "Show this report", report %>
    </p>
  <% end %>
</div>
<% if @reports.last.submitted_this_week? %>
  <p>You are up to date and don't need to submit another report this week</p>
<% else %>
  <%= link_to "New report", new_report_path %>
<% end %>
