<div class="container py-3">
  <div class="mt-5">
    <div class="text-center">
      <h1 class="mb-4">Create this week's report</h1>
      <p class="mb-5">Only you and your line manager can see your report | Your line manager: <%= current_user.manager_email(current_user.manager_id) %> </p>
    </div>
    <%= render "form", report: @report %>
    <div class="mt-3">
      <%= link_to "Back to reports", reports_path %>
    </div>
  </div>
</div>
